<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<form th:action="@{/addDashboard}" method="post" th:object="${boardForm}">
    <div class="form-group">
        <label for="exampleFormControlInput1">name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{nameBoard}" name="nameBoard">
    </div>
    <div class="d-grid">
        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Сохранить</button>
    </div>
</form>
</body>
</html>