<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="col py-3">
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>ID</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td class="align-middle" th:text="${task.getId()}"></td>
                <td class="align-middle" th:text="${task.getTaskName()}"></td>
                <td class="align-middle" th:text="${task.getDescription()}"></td>
                <td class="align-middle" th:text="${task.getState()}"></td>
                <td class="align-middle" th:text="${task.getDate()}"></td>
                <td class="align-middle">
                    <a th:href="@{/edit-host/{id}(id=${task.id})}"><i class="bi bi-pencil-square"></i></a>
                    <a th:href="@{/deleteTask/{board}/{id}(id=${task.id}, board=${task.getBoard().getId()})}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash" style="color:#ff000085"></i></a>
                </td>
            </tr>
        </table>
        <a class="btn btn-secondary" role="button" th:href="@{/addTask/{board}(board=${boardId})}">Добавить задачу</a>
    </div>
</div>
</body>
</html>